.res-footerOverlay {
    width: 100%;
    height: 100%;
    z-index: -1;

    flex-direction: column;
    display: flex;
    position: absolute;
}

.res-footerOverlay-black {
    height: 25%;
    background: var(--color-black);
}

.res-footerOverlay-img {
    height: 75%;
}